VITE_FOLDER_NAME=agility-dashboard
VITE_HA_URL=https://avocado-bacon.agility-game.com
VITE_HA_TOKEN=See https://developers.home-assistant.io/docs/auth_api/#long-lived-access-token
VITE_SSH_USERNAME= See https://shannonhochkins.github.io/ha-component-kit/?path=/docs/introduction-deploying--docs
VITE_SSH_PASSWORD= See https://shannonhochkins.github.io/ha-component-kit/?path=/docs/introduction-deploying--docs
VITE_SSH_HOSTNAME= See https://shannonhochkins.github.io/ha-component-kit/?path=/docs/introduction-deploying--docs